@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 10px;
  margin: 0 auto;
  border: 1px solid black;
  background-color: lightslategray;
  font-family: Roboto;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid;
  margin-bottom: 5vh;
  height: 100px;
  
}

.gameBoard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto;
  margin-bottom: 5vh;
  width: 482px;
  height: 480px;
  border: 1px solid;
  font-size: 6rem;
  font-weight: 800;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  border: 1px solid black;
  cursor: pointer;
}

.cell:hover {
  background-color: lightsteelblue;
}