@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 10px;
  margin: 0 auto;
  border: 1px solid black;
  font-family: Roboto;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid;
  margin-bottom: 5vh;
  height: 100px;
  
}

.container  {
  display: flex;
}

.container:first-child {
  position: relative;
  left: 20%;
}
.gameBoard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 50px;
  width: 482px;
  height: 480px;
  font-size: 6rem;
  font-weight: 800;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  border: 1px solid black;
  cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n + 3) {
  border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
  border-bottom: none;
}

.cell:hover {
  background-color: lightsteelblue;
}

#restart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 150px;
  height: 75px;
  border: none;
  font-size: 2rem;
  text-transform: uppercase;
}

.modal-container {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: opacity 0.2s ease;
}

.modal-container.hide {
  pointer-events: none;
  opacity: 0;
}

.modal-content {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
  padding: 15px 20px;
  width: 250px;
  max-width: 100%;
  font-size: 18px;
  font-weight: bold;
}
  input[type=text] {
    padding: 10px;
    margin: 10px;
    font-size: 1rem;
  }
